.userModal {
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.3);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 50%;
  min-width: 400px;
  height: 80%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  position: relative;
}

.close {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: var(--green);
  color: white;
  position: absolute;
  right: 18px;
  top: 18px;
}

.user-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  float: left;
}

.user-header {
  text-align: center;
  width: 100%;
}

.user-name {
  margin: 0;
}

.user-username {
  margin-bottom: 5px;
  color: var(--green);
  font-weight: 900;
}
strong {
  color: var(--green);
}

.user-details p {
  margin: 5px 0;
}

.user-details strong {
  font-weight: bold;
}
.companyData {
  background-color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 10px;
  margin: 20px 0px;
  color: rgb(124, 124, 124);
}
.companyHeader {
  color: black !important;
  text-align: center !important;
  width: 100% !important;
  height: 25px;
}

.companyWeb {
  color: var(--green);
  font-weight: 600;
}

.cardImage {
  width: 100% !important;
  background-size: cover !important;
  background-position: center !important;
}
.user-details {
  padding: 0px 20px;
}

iframe {
  outline: none !important;
  border: none !important;
  border-radius: 10px;
}
