.card {
  min-width: 260px;
  width: 260px;
  height: 290px;
  background-color: var(--white) !important;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  margin-bottom: 20px;
}
.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cardImage {
  height: 180px;
  border-radius: 7px 7px 0px 0px;
}

.cardData {
  background: transparent;
  padding: 12px;
  margin-bottom: 10px;
}

h1 {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: var(--gray-dark);
}
.cardEmail {
  font-size: 13px;
  font-weight: 700;
}
.cardBtn {
  width: 35px;
  height: 36px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  outline: none;
  border: none;
  border-radius: 7px 0px;
  background-color: #3fa52e;
  color: white;
  cursor: pointer;
}
